* {
    margin: 0px;
    padding: 0px;
}

html, body {
    /* overflow: hidden; */
}

body {
    position: relative;
    font-size: 5vmin;
}

#wrapper {
    margin: 4vw 0 0 0;
}

button {
    font-size: inherit;
    background-color: white;
    border: 2px solid blue;
    border-radius: 2vmin;
    outline: none;
}

button.prompt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1vw 4vw;
    width: 92vw;
    height: 8vh;
}

button .type, button .label, button .lock {
    display: inline-block;
}

button .type, button .lock {
    padding: 2vw;
}

button .lock.open {
    opacity: 20%;
}

button .lock.closed {
    opacity: 100%;
}

#buttonbar {
    display: flex;
    justify-content: space-evenly;
    margin: 4vw 0 0 0;
}

button.bar {
    width: 12vh;
    height: 12vh;
    border-radius: 8vh;
}
